body{
  background-color: #eeece6;
}
.nav {
  /* background-color: #eeece6; */
  font-size: 1.5rem;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83;
  letter-spacing: normal;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 55px;
  border-radius: 2px;
  text-align: left;

}

.nav-menu {
  background-color: #fac105;
  font-weight: bold;
  list-style: none;
  display: inline-flex;
  margin-top: 16px;
  width: 66.40625%;
  height: 55px;
  margin: 0px;
}

.menu-list {
  display: inline-flex;
  margin-top: 16px;
}

.nav-menu li {
  display: inline-block;
}

.ticket-nav {
  width: 33.59375%;
  height: 55px;
  text-align: left;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
  border-color:#707070;
  border-width:1px ;
}

.ticket-descri {
  font-weight: 500;
  list-style: none;
  display: inline-flex;
  margin-top: 16px;
}

.nav-menu__link {
  color: black;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-left: 15px;

}

.nav-menu__link.active {
  color: #721a16;
}

.logo-burger {
  margin-left: -31px;
  margin-top: -13px;
  height: 49px;

}

.space-cant {
  margin-right: 35px;
  margin-left: -15px;
}

.space-product {
  margin-right: 36px;
}
