body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.menu-burger {
  background-color: #eeece6;
  font-weight: bold;
  display: inline-flex;
  margin-top: 16px;
  width: 66.2%;
  height: 703px;
  margin: 0px;

  text-align: center;
}

.menu-burger-more {
  display: inline-table;
  margin-top: 16px;
  width: 66.2%;
  height: 703px;
  margin: 0px;

  text-align: center;
}
.btns-burgers-right {
  margin-left: 62px;
  margin-top: 232px;
}
.btn-burger-style {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  width: 238.6px;
  height: 115px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #707070;
  border-radius: 15px;
  margin-bottom: 19px;
  margin-top: 19px;
  background-color: #eeece6;
}

.btn-circulo {
  display: inline-flex;
  width: 42.6px;
  height: 42.6px;
  border: solid 2px;
  border-radius: 50%;
  border-color: #fac105;
  margin-left: -173px;
  margin-top: 29px;
}

.img-burger {
  margin: 3px;
}

.img-burger-s {
  margin: 4px;
}

.btn-text {
  width: 73px;
  height: 82px;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  margin-top: -46px;
  margin-left: 56px;
}

.btn-text-break {
  width: 99px;
  height: 82px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  margin-top: -53px;
  margin-left: 56px;
}
.btn-price {
  width: 41px;
  height: 32px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: left;
  margin-top: -31px;
  margin-left: 171px;
}

.App-burger {
  height: 700px;
}
.App {
  height: 700px;
}

.btns-burgers {
  display: inline;
  margin: 12px;
}
.ticket-style {
  display: inline-block;
  border: solid;
}
.ticket-comanda {
  margin-top: 10px;
}

.produc-list {
  list-style: none;
  text-align: justify;
}
pre {
  font-size: 24px;
  font-family: inherit;
}

.btn-ticket {
  line-height: 1px;
  text-align: start;
  width: 316px;
  height: 61px;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #707070;
  background-color: #eeece6;
}

.ticket-order {
  margin-left: -26px;
  text-align: center;
  margin-top: 41px;
}
