body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.menu-burger {
  background-color: #eeece6;
  font-weight: bold;
  display: inline-flex;
  margin-top: 16px;
  width: 66.2%;
  height: 703px;
  margin: 0px;

  text-align: center;
}

.menu-burger-more {
  display: inline-table;
  margin-top: 16px;
  width: 66.2%;
  height: 703px;
  margin: 0px;

  text-align: center;
}
.btns-burgers-right {
  margin-left: 62px;
  margin-top: 232px;
}
.btn-burger-style {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  width: 238.6px;
  height: 115px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #707070;
  border-radius: 15px;
  margin-bottom: 19px;
  margin-top: 19px;
  background-color: #eeece6;
}

.btn-circulo {
  display: inline-flex;
  width: 42.6px;
  height: 42.6px;
  border: solid 2px;
  border-radius: 50%;
  border-color: #fac105;
  margin-left: -173px;
  margin-top: 29px;
}

.img-burger {
  margin: 3px;
}

.img-burger-s {
  margin: 4px;
}

.btn-text {
  width: 73px;
  height: 82px;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  margin-top: -46px;
  margin-left: 56px;
}

.btn-text-break {
  width: 99px;
  height: 82px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  margin-top: -53px;
  margin-left: 56px;
}
.btn-price {
  width: 41px;
  height: 32px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: normal;
  text-align: left;
  margin-top: -31px;
  margin-left: 171px;
}

.App-burger {
  height: 700px;
}
.App {
  height: 700px;
}

.btns-burgers {
  display: inline;
  margin: 12px;
}
.ticket-style {
  display: inline-block;
  border: solid;
}
.ticket-comanda {
  margin-top: 10px;
}

.produc-list {
  list-style: none;
  text-align: justify;
}
pre {
  font-size: 24px;
  font-family: inherit;
}

.btn-ticket {
  white-space: normal;

  width: 316px;

  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #707070;
  background-color: #eeece6;

  padding: 5px;

  font-size: inherit;
  text-align: center;
}

.ticket-order {
  margin-left: -34px;
  text-align: center;
}
.btn-text-ticket {
  width: 157px;
  margin-left: 73px;
  margin-top: 3px;
  text-align: center;
  line-height: 26px;
}

.btn-cant-ticket {
  margin-top: -23px;
  margin-left: -250px;
}

.btn-total-ticket {
  margin-left: 243px;
  margin-top: -19px;
}

.total-ticket {
  font-size: 28px;
  font-weight: bold;
  position: fixed;
  bottom: 149px;
  left: 860px;
}
.btn-less {
  border-radius: 6px;
  border: none;
  background-color: #eeece6;
  margin-top: 6px;
}

.btns-ticket {
  font-size: 26px;
  font-weight: bold;
  width: 147px;
  height: 76px;
  border-radius: 24px;
  border: solid 2px #721a16;
  background-color: #eeece6;
  margin-left: 14px;
  color: #721a16;
}

.btn-can-send {
  position: fixed;
  bottom: 20px;
  left: 683px;
}

.btn-burger-style:hover {
  border: solid 3px #721a16;
}

.btns-ticket:hover {
  background-color: #721a16;
  color: #fac105;
}
